<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-budget-item-period-heading"
        data-cy="BudgetItemPeriodCreateUpdateHeading"
        jhiTranslate="myaccount2App.budgetItemPeriod.home.createOrEditLabel"
      >
        Créer ou éditer un Budget Item Period
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccount2App.budgetItemPeriod.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccount2App.budgetItemPeriod.month" for="field_month">Month</label>
          <div class="input-group">
            <input
              id="field_month"
              data-cy="month"
              type="text"
              class="form-control"
              name="month"
              ngbDatepicker
              #monthDp="ngbDatepicker"
              formControlName="month"
            />
            <button type="button" class="btn btn-secondary" (click)="monthDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('month')!.invalid && (editForm.get('month')!.dirty || editForm.get('month')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('month')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccount2App.budgetItemPeriod.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('amount')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('amount')?.errors?.number" jhiTranslate="entity.validation.number">
              Ce champ doit être un nombre.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccount2App.budgetItemPeriod.isSmoothed" for="field_isSmoothed">Is Smoothed</label>
          <input
            type="checkbox"
            class="form-check"
            name="isSmoothed"
            id="field_isSmoothed"
            data-cy="isSmoothed"
            formControlName="isSmoothed"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccount2App.budgetItemPeriod.isRecurrent" for="field_isRecurrent">Is Recurrent</label>
          <input
            type="checkbox"
            class="form-check"
            name="isRecurrent"
            id="field_isRecurrent"
            data-cy="isRecurrent"
            formControlName="isRecurrent"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccount2App.budgetItemPeriod.operation" for="field_operation">Operation</label>
          <select
            class="form-control"
            id="field_operation"
            data-cy="operation"
            name="operation"
            formControlName="operation"
            [compareWith]="compareOperation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="operationOption" *ngFor="let operationOption of operationsCollection">{{ operationOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccount2App.budgetItemPeriod.budgetItem" for="field_budgetItem">Budget Item</label>
          <select
            class="form-control"
            id="field_budgetItem"
            data-cy="budgetItem"
            name="budgetItem"
            formControlName="budgetItem"
            [compareWith]="compareBudgetItem"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="budgetItemOption" *ngFor="let budgetItemOption of budgetItemsSharedCollection">
              {{ budgetItemOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
