<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="subCategory">
      <h2 data-cy="subCategoryDetailsHeading"><span jhiTranslate="myaccount2App.subCategory.detail.title">Sub Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ subCategory.id }}</span>
        </dd>
        <dt><span jhiTranslate="myaccount2App.subCategory.subCategoryName">Sub Category Name</span></dt>
        <dd>
          <span>{{ subCategory.subCategoryName }}</span>
        </dd>
        <dt><span jhiTranslate="myaccount2App.subCategory.category">Category</span></dt>
        <dd>
          <div *ngIf="subCategory.category">
            <a [routerLink]="['/category', subCategory.category.id, 'view']">{{ subCategory.category?.categoryName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/sub-category', subCategory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
