<form *ngIf="budgetItem" name="deleteForm" (ngSubmit)="confirmDelete(budgetItem.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="budgetItemDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirmation de suppression</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-budgetItem-heading" jhiTranslate="myaccount2App.budgetItem.delete.question" [translateValues]="{ id: budgetItem.id }">
      Êtes-vous certain de vouloir supprimer le Budget Item {{ budgetItem.id }} ?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
    </button>

    <button id="jhi-confirm-delete-budgetItem" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Supprimer</span>
    </button>
  </div>
</form>
